
/* ::::: http://proquest.umi.com/css/retrieve.css?rv=200802 ::::: */

#embedError { border: 2px solid rgb(255, 0, 0); margin: 20px; padding: 30px; width: 360px; height: 100px; color: rgb(255, 0, 0); text-align: center; font-weight: bold; }

/* ::::: http://proquest.umi.com/html/common/pqcommon.css?rv=200802 ::::: */

body { margin: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 100%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; }
a { color: rgb(0, 51, 153); }
a:visited { color: rgb(0, 51, 153); }
a:active { color: rgb(0, 51, 153); }
a.help, a.help:visited, a.help:active { color: rgb(204, 0, 0); }
.rowUnMarked td { border-bottom: 2px solid rgb(239, 239, 239); background-color: rgb(255, 255, 255); }
.rowMarked td, .resultTools td { border-bottom: 2px solid rgb(255, 204, 102); background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowMarked td td, .resultTools td td { border-bottom: 0px none; }
.rowRecentSearches td { border-bottom: 2px solid rgb(255, 102, 0); background: rgb(255, 221, 151) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowVisitedPubs td { border-bottom: 2px solid rgb(255, 102, 0); background: rgb(255, 221, 151) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowWhite td { border-bottom: medium none; }
.rowSaved td { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowUnSaved td { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowMarkedNavBar td { border-top: 1px solid black; border-bottom: 2px solid rgb(255, 204, 102); padding: 6px; background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.rowMarked div { font-family: Arial,Helvetica,sans-serif; font-size: 80%; color: rgb(204, 0, 0); font-weight: bold; }
.rowUnMarked div { font-family: Arial,Helvetica,sans-serif; font-size: 80%; color: rgb(255, 255, 255); font-weight: bold; }
.rowSaved div { font-family: Arial,Helvetica,sans-serif; font-size: 80%; color: rgb(204, 0, 0); font-weight: bold; }
.rowUnSaved div { font-family: Arial,Helvetica,sans-serif; font-size: 80%; color: rgb(255, 255, 255); font-weight: bold; }
.resultTools { border-top: 1px solid rgb(51, 51, 51); clear: both; }
.resultTools td { border-bottom: 2px solid rgb(255, 204, 102); background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.desirable { font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(255, 0, 255); }
.bold { font-weight: bold; }
.login { font-family: Arial,Helvetica,sans-serif; color: rgb(153, 153, 102); font-size: 80%; font-weight: bold; }
.linkStd { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 80%; text-decoration: none; }
.redLink { color: rgb(204, 0, 0); }
h1, .header { margin: 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; color: rgb(153, 0, 0); font-weight: bold; }
h1.black, .headerBlack { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-weight: bold; }
h2, .subheader { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 0.85em; color: rgb(153, 0, 0); font-weight: bold; display: inline; }
h2.black { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 0.85em; color: black; font-weight: bold; display: inline; }
h1.inline { display: inline; }
.lineHight { line-height: 1.9em; }
.leftIdent { margin-left: 4em; }
.textMedium { font-family: Arial,Helvetica,sans-serif; font-size: 80%; }
.textMediumRelative { font-family: Arial,Helvetica,sans-serif; font-size: 90%; }
.textMediumBold { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; }
.textMediumItalic { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-style: italic; }
.textSmall { font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.textReallySmall { font-family: Arial,Helvetica,sans-serif; font-size: 40%; }
.textBold { font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; }
.alerts { font-family: Helvetica,sans-serif; font-size: 11px; padding-top: 1px; padding-bottom: 1px; }
p.collections { margin: 8px 0px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
ul { line-height: 150%; }
ul.none { margin: 0px; list-style-type: none; padding-left: 20px; }
.rowColored { border-bottom: medium none; background: rgb(255, 255, 204) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.legal { font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(0, 0, 0); text-decoration: none; }
.small { margin: 8px 0px; font-family: Arial,Helvetica,sans-serif; font-size: 90%; }
.subtitle { font-weight: bold; font-size: 120%; }
.title { font-weight: bold; font-size: 200%; }
.hangingIndent { margin: 0px 0cm 0px 1cm; text-indent: -1cm; }
.printbib { margin-left: 2em; text-indent: -2em; line-height: 2.1; }
p.example { margin-left: 2em; }
.articletype { font-family: "Courier New",Courier,monospace; color: rgb(255, 0, 0); }
.manual { font-family: "Courier New",Courier,monospace; color: rgb(255, 0, 0); }
.rowNone td { border-bottom: medium none; }
p.NSForm { margin-top: -1em; }
.printexample { color: rgb(51, 153, 0); font-family: "Courier New",Courier,monospace; }
.spellcheck { font-size: 80%; font-weight: bold; font-family: Arial,Helvetica,sans-serif; color: rgb(204, 0, 0); }
#whereIsButton { visibility: hidden; position: relative; top: -2px; }
.toolbarTitle { color: rgb(153, 51, 51); font-weight: bold; padding-right: 2px; padding-top: 2px; white-space: nowrap; }
.toolbarLinks { padding-left: 12px; padding-top: 2px; white-space: nowrap; }
.pillLeft { padding-left: 9px; height: 20px; }
.pillRight { padding-right: 13px; height: 20px; position: relative; top: -2px; }
#navtabs { width: auto; font-size: 75%; line-height: normal; margin-top: 15px; }
#navtabs ul { margin: 0pt; padding: 0pt 10px 0pt 2px; list-style-type: none; list-style-image: none; list-style-position: outside; }
#navtabs li { margin: 0pt; padding: 0pt 1px 0pt 9px; float: left; }
#navtabs a { padding: 3px 15px 2px 6px; float: left; display: block; width: 0.1em; text-decoration: none; font-weight: bold; color: rgb(0, 0, 0); white-space: nowrap; }
#navtabs > ul a { width: auto; }
#navtabs a { float: none; }
#navtabs a:hover { color: rgb(0, 0, 0); }
div#basic, div#advanced, div#topics, div#studypath, div#publications, div#myresearch, div#browse, div#unknown, div#data { border-bottom: 1px solid rgb(255, 153, 0); padding-bottom: 1px; }
#basic #nav-basic, #advanced #nav-advanced, #topics #nav-topics, #publications #nav-publications, #myresearch #nav-myresearch, #topics, #browse #nav-browse, #studypath #nav-studypath, #data #nav-reports { border-width: 0pt; background-position: 0pt -150px; }
#basic #nav-basic a, #advanced #nav-advanced a, #topics #nav-topics a, #publications #nav-publications a, #myresearch #nav-myresearch a, #topics, #browse #nav-browse a, #studypath #nav-studypath a, #data #nav-reports a { background-position: 100% -150px; padding-bottom: 2px; color: rgb(0, 0, 0); white-space: nowrap; }
#navtabs #nav-myresearch a { padding: 1px 15px 1px 6px; font-size: 90%; line-height: 10px; white-space: nowrap; }
#navtabs li:hover { background-position: 0% -150px; color: rgb(0, 0, 0); }
#navtabs li:hover a { background-position: 100% -150px; color: rgb(0, 0, 0); }
.profile { font-size: 9px; font-weight: bold; color: rgb(51, 51, 204); padding-left: 1px; }
a span.profile { text-decoration: none; }
#adaBanner { display: none; }
#nav-Desc { display: none; }
#MyResearchBR { display: block; }
#toolsTable { background-color: rgb(230, 230, 230); }
.toolsLabel { color: rgb(153, 51, 51); font-weight: bold; }
.toolsPrompt { display: none; }
#docHolder { margin-right: 260px; }
#formatBoxContainer { padding: 0px 10px 8px 40px; float: right; }
.formatBox { border: 2px solid rgb(255, 204, 51); margin: 0pt 0pt 15px 4px; padding: 3px 6px; width: 204px; }
.clearBox { background-color: rgb(255, 255, 255); }
.brightBox { background-color: rgb(255, 255, 204); }
.restrictionLine { margin: 1px 1px 18px; }
* html .formatBox { width: 204px; }
.backArrow { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; color: rgb(102, 102, 102); }
wbr:after { content: "?"; }
.MarkedCountContainer { font-weight: normal; font-size: 90%; color: rgb(0, 51, 153); letter-spacing: 1px; text-align: center; }
#moreOptButtonLeft { white-space: nowrap; width: 9px; float: left; padding-bottom: 2px; }
#moreOptButtonRight { padding: 3px 9px 3px 0pt; white-space: nowrap; float: left; }
#moreOptButtonExtra { float: left; padding-top: 4px; }
.upcaret { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(204, 0, 0); }
table#tblResTabs { margin-top: 5px; }
table#tblResTabs td { background-color: rgb(230, 230, 230); text-align: center; }
table#tblResTabs td.activeTabLeft { background: rgb(255, 204, 51) url('tab_lt_on.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 8px; }
table#tblResTabs td.activeTab { background-color: rgb(255, 204, 51); }
table#tblResTabs td.activeTabRight { background: rgb(255, 204, 51) url('tab_rt_on.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 8px; }
.inactiveTabLeft { background: rgb(230, 230, 230) url('tab_lt_off.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 8px; }
.inactiveTabRight { background: rgb(230, 230, 230) url('tab_rt_off.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 8px; }
table#tblResTabs td.tabSpacer { background-color: rgb(255, 255, 255); width: 4px; color: rgb(255, 255, 255); font-size: 4px; }
#suggestContainer { border: 1px solid rgb(128, 128, 128); margin-left: 20px; width: 740px; }
.suggestRow { border-bottom: 1px solid rgb(128, 128, 128); padding: 4px; background-color: rgb(255, 255, 204); }
.suggestPanel { padding: 6px; }
.otherColumn { padding-left: 0pt; }
ul.pqlist { padding-left: 1em; line-height: 130%; margin-top: 0em; }
ul.pqlist li table { position: relative; top: 6px; }
ul.tableList { padding-left: 0em; line-height: 130%; margin-top: 0em; list-style-type: none; margin-left: 3em; }
ul.tableList li { background: transparent url('listdot.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; padding-left: 1em; }
ul.tableList li table { position: relative; top: -10px; }
ul.tableList li table.dbContainerTable { top: 0px; }
#copyrightBody { border-top: 1px solid rgb(255, 153, 0); margin-bottom: 5px; text-align: center; clear: both; }
#copyrightLines { margin-top: 10px; margin-bottom: 10px; }
#copyrightADA { margin-bottom: 4px; }
.warning { color: rgb(255, 0, 0); }
.citation { padding: 2px 4px 2px 6px; background-color: rgb(255, 255, 204); }
#siteInstructions { margin: 20px 0pt; }
#siteInstructions span { font-weight: bold; }
.siteBib { line-height: 2.1; }
#citationForm { margin: 20px 0pt; padding: 0pt; }
#docView #pageBody {  }
#copyLink { text-decoration: none; color: rgb(0, 0, 0); cursor: default; }
a span.noUnder { text-decoration: none; }
.adaHiddenText { color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
.docSection div { padding: 4px; }
.docBlock { padding: 4px; }
.docBar { background-color: rgb(255, 204, 102); }
.docBar2 { background-color: rgb(230, 230, 230); }
.docCitationContainer div { padding: 2px; }
a.arrow { text-decoration: none; }
#pagePopup { padding: 5px; }
.formatOption { padding-top: 5px; }
.disabledLink { color: rgb(102, 102, 102); }
#moreLikeThisSection div.check { text-indent: -2em; }
#moreLikeThisSection div.check input { position: relative; top: 1px; }
#moreLikeThisSection div.heading { padding: 8px 3px 0pt 0pt; font-weight: bold; }
#moreLikeThisSection div.value { margin-left: 2em; }
#moreLikeThisSection span.moreTitle { font-weight: bold; }
#moreLikeThisSection div.wrapper { margin-left: 15px; }
#moreLikeThisSection div.more { visibility: hidden; display: none; }
.hHl { font-weight: bold; color: rgb(255, 0, 0); }
.supplementalFileList { padding-bottom: 4px; }
div.suppFile { border: 1px solid white; margin: 4px 4px 4px 0pt; }
div.suppIcon { float: left; width: 16px; margin-left: 12px; }
div.audio { background: transparent url('icon_audio.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.video { background: transparent url('icon_video.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.image { background: transparent url('icon_image.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.data { background: transparent url('icon_data.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.doc { background: transparent url('icon_doc.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.xls { background: transparent url('icon_xls.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.ppt { background: transparent url('icon_ppt.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.web { background: transparent url('icon_web.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.pdf { background: transparent url('icon_pdf.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.text { background: transparent url('icon_txt.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.script { background: transparent url('icon_script.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.zip { background: transparent url('icon_zip.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.unknown { background: transparent url('icon_unknown.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
div.suppLink { margin: 0pt 0pt 2px 2px; float: left; }
div.createUL { border-bottom: 1px solid rgb(51, 51, 51); }
div.createUL ul.pqlist { padding-left: 1em; line-height: 130%; margin-top: 1em; }
.docSection span.suppTitle { font-weight: bold; position: relative; top: -2px; }
#disclaimerMessages { margin-left: 4px; }
#moreInfo { padding: 2px 0pt 6px 2px; }
#supplementalFileSection { margin-bottom: 20px; }
div.suppFile .brclear { padding-bottom: 2px; clear: left; }
.tree { padding-top: 20px; padding-bottom: 20px; padding-left: 10px; font-family: Arial,Helvetica,sans-serif; font-size: 80%; }
.searchTree { border: 1px solid rgb(255, 204, 102); margin: 20px; padding: 25px 15px; background-color: rgb(255, 255, 204); }
.searchLabel { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; padding-bottom: 10px; }
h3 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; color: rgb(153, 0, 0); font-weight: bold; }
#logoLine { vertical-align: top; }
#logoLine span { float: left; vertical-align: top; }
#logoLine span.opposite { float: right; }
li.topicTreePart { margin-top: 7px; margin-bottom: 7px; }
.emailFormatDescription { font-style: italic; }
#clipCopyright { font-style: italic; }
#embedContainer { padding-top: 0px; padding-left: 4px; }
#playerContainer { width: 400px; float: left; padding-right: 5px; }
#clipInfo { margin-left: 333px; margin-top: 10px; }
#clipInfo p { margin-top: 0px; }
.hidden { position: absolute; left: -1000em; width: 20em; }
.button { white-space: nowrap; margin-left: 4px; margin-right: 0px; }
.buttonSecondary { border-style: solid; border-color: rgb(250, 231, 144) rgb(255, 153, 0) rgb(255, 153, 0) rgb(250, 231, 144); border-width: 1px; background: transparent url('buttonbgsecondary.gif') repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.buttonPrimary { border-style: solid; border-color: rgb(250, 231, 144) rgb(255, 153, 0) rgb(255, 153, 0) rgb(250, 231, 144); border-width: 1px; background: transparent url('buttonbgprimary.gif') repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.buttonTransparent { border: 0px none ; margin: 0pt; padding: 1px 4px; background: transparent none repeat scroll 0% 0%; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; color: rgb(0, 0, 0); cursor: pointer; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.buttonTransparentNormal { border: 0px none ; margin: 0pt; padding: 1px 4px; background: transparent none repeat scroll 0% 0%; font-family: Arial,Helvetica,sans-serif; font-size: 90%; font-weight: bold; color: rgb(0, 0, 0); cursor: pointer; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
h1.inline, h2.inline, h3.inline { display: inline; white-space: nowrap; }
.linkPrimary a, .linkSecondary a { padding: 4px 8px; text-decoration: none; color: black; display: block; }
.linkPrimary { border-style: solid; border-color: rgb(250, 231, 144) rgb(255, 153, 0) rgb(255, 153, 0) rgb(250, 231, 144); border-width: 1px; background: transparent url('buttonbgprimary.gif') repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.linkSecondary { border-style: solid; border-color: rgb(250, 231, 144) rgb(255, 204, 102) rgb(255, 204, 102) rgb(250, 231, 144); border-width: 1px; background: transparent url('buttonbgsecondary.gif') repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.linkButton { white-space: nowrap; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; color: rgb(0, 0, 0); text-align: center; }
.resultTab div.active { background: rgb(255, 204, 51) url('tab_lt_on.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; margin-right: 4px; padding-left: 8px; }
.resultTab div.inactive { background: rgb(230, 230, 230) url('tab_lt_off.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; margin-right: 4px; padding-left: 8px; }
.resultTab div.active span { background: rgb(255, 204, 51) url('tab_rt_on.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; display: block; padding-right: 8px; padding-top: 1px; padding-bottom: 3px; }
.resultTab div.inactive span { background: rgb(230, 230, 230) url('tab_rt_off.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; display: block; padding-right: 8px; padding-top: 1px; padding-bottom: 3px; }
#treeHeader { float: left; }
#treeQuery { clear: left; }
#treeBack { margin-left: 24%; }
.treePlus { position: relative; left: -18px; }
.treeText { position: relative; left: -15px; }
#topicBody #headerText { margin-top: 15px; margin-left: 3px; white-space: nowrap; float: left; }
#browseSubTree #browseInstructions { margin-top: 12px; }
#topicBody #headerLinks { float: left; margin-top: 15px; margin-left: 50px; }
#browseSubTree #fullLink { margin-top: 12px; }
.errMsg { font-weight: bold; }
.europeanCharacters { display: none; }
table#resultstable { background-color: rgb(255, 255, 255); }
table#resultstable td { padding: 5px; }
table#resultstable td .icon { padding: 5px 0pt 5px 5px; }
table#basic form, table#advanced form, table#reports form, table#publications form, table#browse form, table #myresearch form { position: relative; top: 2px; }
.rowUnMarked2 { border-bottom: 2px solid rgb(239, 239, 239); clear: both; padding-top: 5px; padding-bottom: 5px; background-color: rgb(255, 255, 255); }
.rowMarked2 { border-bottom: 2px solid rgb(255, 204, 102); background: rgb(255, 255, 204) none repeat scroll 0% 0%; clear: both; padding-top: 5px; padding-bottom: 5px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.resultsItem { clear: both; padding-top: 5px; padding-bottom: 5px; }
.resultsItemBody { float: right; line-height: 160%; width: 96%; }
.resultsNumber { float: left; line-height: 150%; margin-right: 4px; width: 20px; }
.resultsHLL { float: left; line-height: 150%; width: 96%; }
.resultsFormats { clear: left; float: none; margin-left: 50px; }
.resultsFormats ul { border: medium none ; margin: 0pt; display: inline; padding-left: 0pt; }
.resultsFormats ul li, ul.refList li { border-left: 1px solid black; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; margin-left: 0pt; padding-left: 7px; padding-right: 3px; }
.resultsFormats ul li.first, ul.refList li.first { border: medium none ; padding-left: 0px; }
.resultsCheckbox { margin-left: 6px; }
.resultsHLL .doctitle { font-weight: bold; }
#formBasic { margin: 0pt 0pt 26px; padding: 3px 3px 3px 17px; clear: both; }
#formBasicInputLine { margin-bottom: 5px; }
#formBasicInputLine #SQ {  }
#pageBanner { border-bottom: 1px solid rgb(255, 153, 0); padding-bottom: 2px; }
#languageForm select { margin: 0pt; padding: 0pt; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
#selDBLinkLine { padding: 3px; white-space: nowrap; }
#moreOptLine { border-bottom: 1px solid rgb(51, 51, 51); clear: both; width: 580px; height: 1px; }
#pageNavLine { padding: 4px; }
div#transContainer { border: 2px solid rgb(255, 204, 102); padding: 10px; background-color: rgb(255, 255, 204); }
div#transContainer span.exclaimation { color: rgb(255, 0, 0); font-weight: bold; }
.doubleArrow { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; color: rgb(204, 0, 0); }
#pubDetail div.indent { margin: 0pt 0pt 0pt 114px; padding: 4px; }
#pubDetail { width: 600px; margin-top: 10px; }
#pubDetail div.indent div.padMe { padding: 4px; }
#pubDetail div.indent div.padMe div.engContent { margin-left: 8px; }
.nowrap { white-space: nowrap; }
#ajaxPopup { padding: 5px; }
.rssLink { border: 1px solid rgb(255, 170, 85); margin: 1px 1px 1px 8px; padding: 0pt 3px 0pt 14px; background: rgb(255, 255, 255) url('rss_small.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; height: 11px; font-size: 9px; color: black; font-weight: bold; }
.rssLink a, .rssLink a:hover, .rssLink a:visited { text-decoration: none; color: black; }
#markedBulletItems { margin-top: 6px; margin-bottom: 6px; }
table#dataReportsLimiters { margin-left: 25px; }
.rsaquo, .raquo, .lsaquo, .laquo { font-weight: bold; color: rgb(204, 0, 0); font-size: 90%; font-family: Verdana,Arial,Helvetica,sans-serif; }
ul.refListBox { margin: 0pt; list-style-type: none; list-style-image: none; list-style-position: outside; padding-left: 1em; text-indent: -1em; }
div#refBoxTitle { font-weight: bold; margin-bottom: 4px; }
#refCitationContainer { float: left; }
#refPageTitle h1, #backTop { width: 300px; padding-left: 6px; }
#labelBackLine { margin-top: 10px; margin-bottom: 10px; }
#refCount { float: left; margin-left: 20px; white-space: nowrap; }
#refHLL { margin-right: 240px; margin-left: 210px; }
#refOptions { float: right; }
div.resultsTools { border-top: 1px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(255, 204, 102); padding: 5px 4px 4px; background-color: rgb(255, 255, 204); margin-top: 6px; }
div.resultsTools div.email { float: left; margin-left: 6px; }
div.resultsTools div.sort { float: right; margin-right: 6px; }
div#backLinks { margin-top: 2px; margin-bottom: 4px; }
div#backLink { float: left; }
div#backTop { float: left; }
div#refPageTitle { float: left; }
div#refListLink { padding: 4px; margin-bottom: 10px; }
ul.refList { margin: 0pt auto 6px; padding-left: 0pt; }
table#resultstable div.item { border-bottom: 2px solid rgb(239, 239, 239); padding-bottom: 5px; }
div.missingItem { height: 20px; width: 1px; }
div#noteInEmail { margin-bottom: 12px; }
body.retrievebanner ul.refListBox { display: inline; margin-left: 0pt; padding-left: 0pt; }
body.retrievebanner ul.refListBox li { border-left: 1px solid black; display: inline; padding-left: 4px; }
body.retrievebanner ul.refListBox li.first { border-left: 1px solid white; padding-left: 0px; }
#adaReferencesContainer { color: rgb(0, 0, 0); font-size: 105%; font-weight: normal; }
#adaReferencesContainer ul { margin-left: 45px; display: inline; }
#refListContainer { margin-bottom: 20px; }
#refListULContainer { margin: 4px; }

/* ::::: http://proquest.umi.com/html/common/pqclassic.css?rv=200802 ::::: */

#navtabs li { background: transparent url('left_both.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
#navtabs a { background: transparent url('right_both.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.gold li { background: transparent url('left_gold.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.gold a { background: transparent url('right_gold.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.yellow li { background: transparent url('left_yellow.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.yellow a { background: transparent url('right_yellow.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.pillLeft { background: transparent url('pill_left.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.pillRight { background: transparent url('pill_right.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
#moreOptButtonLeft { background: transparent url('tab_lt_off.gif') no-repeat scroll left top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; width: 8px; }
#moreOptButtonRight { background: transparent url('tab_right.gif') no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; }
.suggestRow { background-color: rgb(255, 255, 204); }
